/* здесь подключите шрифты*/
@font-face {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/oswaldregular.woff2"),
       url("../fonts/oswaldregular.woff");
}

@font-face {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/latoregular.woff2"),
       url("../fonts/latoregular.woff");
}
