.cooperate__encourage {
  color: $special_black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;
}

.cooperate__address {
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}

.cooperate__address-line {
  margin: 0;
}
