.hero {
  position: relative;
  padding: 28px 20px 20px 20px;

  @media (min-width: $bp_tablet) {
    padding-left: 120px;
    padding-right: 120px; /* По аналогии с padding-left */
    padding-bottom: 526px;
    background: none;
  }

  @media (max-width: 767px) and (min-resolution: 2dppx) {
    background-image: url("../../images/index-background-mobile@2x.jpg");
  } /* В Firefox без уточнения (max-width: 767px) продолжает отображаться фоновое изображегние. В Chrome оно перестает отображаться и без уточнения (max-width). */
  background-image: url("../../images/index-background-mobile@1x.jpg");
  background-position: top center;
  background-size: auto calc(100% - 199px);
  background-repeat: no-repeat;
  background-color: #62a53b; /* Подобран максимально близко к фону изображения с котом. */

  &::before {
    @media (min-width: $bp_tablet) {
      display: none;
    }
    content: "";
    display: block;
    width: 100%;
    height: 199px;
    background-color: $basic-white;
    position: absolute;
    bottom: 0;
    left: 0;
  }

  &::after {
    @media (min-width: $bp_tablet) and (min-resolution: 2dppx) {
      content: url("../../images/index-can-tablet@2x.png");
    }

    @media (min-width: $bp_tablet) {
      content: url("../../images/index-can-tablet@1x.png");
      bottom: -3px;
      left: 30px;
    }
    /* (?) На двойной плотности работает неправильно */
    @media (max-width: 767px) and (min-resolution: 2dppx) {
      content: url("../../images/index-can-mobile@2x.png");
    }
    content: url("../../images/index-can-mobile@1x.png");
    display: block;
    position: absolute;
    bottom: 60px;
    left: calc(50% - (280px / 2));
  }
}

.hero__slogan {
  @media (min-width: $bp_tablet) {
    color: $basic-black;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 48px; /* 50px по Figma, 48px по PP. */
    font-size: 20px;
    line-height: 20px;
    max-width: unset;
    text-align: left;
  }

  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 21px; /* В Figma 14px, но при таком значении отсутствует интерлиньяж. */
  text-align: center;
  text-transform: uppercase;
  max-width: 240px; /* Заголовок более нижнего уровня (этот) обычно занимает меньше места в строке, чем более заголовок более высокого уровня. */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 299px;
  position: relative;
  z-index: 10;
}
