.programs__name {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-bottom: 29px;
}

.programs__card {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: 50px; /* Для каждого изображения потребуется подгонять размер (контур кота выходит за границы фонового круга) */
}

.programs__card--slim {
  background-image: url("../../images/icons/stack.svg#cat-slim");
}

.programs__card--pro {
  background-image: url("../../images/icons/stack.svg#cat-pro");
}

.programs__text {
  @include common-text;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}
