.section-title {
  font-family: "Oswald", "Arial", sans-serif;

  @media (min-width: $bp_tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  font-size: 36px;
  line-height: 40px;
  max-width: 280px; /* calc(100% - 2 * 40px), если не нужно сохранять перенос строки как в макете */
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.section-title--hero {
  @media (min-width: $bp_tablet) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    padding-top: 65px;
    padding-bottom: 40px;
  }

  color: #ffffff;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  padding-top: 29px;
}
